@tailwind base;
@tailwind components;
@tailwind utilities;

.recharts-legend-item-text {
  font-size: 11px;
  color: #6b7280 !important;
  margin-bottom: 5px;
}

.recharts-default-legend {
  margin-bottom: 5px !important;
}
